.app {
  display: flex;
  justify-content: center;
  color: #333333;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  .container {
    width: 1040px;
    .link {
      text-decoration: none;
      color: inherit;
    }
    .auth {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS",
        sans-serif;
      flex-direction: column;
      h2 {
        //color: #ff69b4;
        font-size: 20px;
      }

      form {
        margin-top: 20px;
        gap: 20px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffc0cb;
        padding: 20px;
        border-radius: 10px;
        input {
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          border: none;
          outline: none;
        }
        button {
          padding: 10px 20px;
          border: none;
          width: 100%;
          background-color: #ffffff;
          color: rgb(0, 0, 0);
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
    .navbar {
      .container {
        display: flex;
        padding: 10px, 0;
        align-items: center;
        justify-content: space-between;
        .logo {
          img {
            width: 120px;
          }
        }
        .links {
          display: flex;
          gap: 10px;
          h4 {
            cursor: pointer;
            transition: color 0.3s ease-in-out;
            font-size: 18px;
            font-weight: 400;
          }
          .write {
            border-radius: 50%;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ff69b4;
          }
        }
      }
    }
  }
}
